# Telegram Bot Credentials
BOT_TOKEN=8955032327:AAGgcEfz93BJKf7QWm8mg6ybO5IQZirwBRw
SUPER_ADMIN_ID=123456789

# Telegram Notification Groups (يمكنك وضع أكثر من جروب مصلولة بفواصل)
NOTIFICATION_GROUP_IDS=-1001234567890,-1009876543210
STORAGE_CHANNEL_ID=-1009876543210

# Neon Database URL
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_mKwgkb6FWD9B@ep-noisy-glitter-aynq0lr1-pooler.c-5.us-east-2.aws.neon.tech/neondb?ssl=require

# Redis Configuration (Optional, falls back to MemoryStorage if empty)
REDIS_URL=

# App Settings
BOT_LANGUAGE=ar
CURRENCY_SYMBOL=ريال
TIMEZONE=Asia/Aden
